<section class="aliance_level">
  <h1>Aktuální hodnost aliance: {{ aliance.hodnost }}</h1>
<p>Celkový počet zkušeností v alianci: {{ "{:,}".format(aliance.zisk_expy) }}</p>
  <div class="progress">
    <div class="bar_wrapper" style="width: {{ aliance.procento_aktualni }}%;">
      <div class="bar"></div>
    </div>
  </div>
  <p>Do příští hodnosti chybí: {{ "{:,}".format(aliance.do_pristi.expy) }} ({{ aliance.do_pristi.procento }}%)</p>
</section>

<table>
  <thead>
    <tr><th>Hráč</th><th>Produkce</th><th>Peněz</th></tr>
  </thead>
  <tbody>
    {% for hrac in hraci %}
    <tr>
      <td>{{ hrac.jmeno }}</td>
      <td>{{ "{:,}".format(hrac.produkce) }} $</td>
      <td>{{ "{:,}".format(hrac.penize) }} $</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
